.news-ticker {
  white-space: nowrap; /* جلوگیری از شکستن متن */
  overflow: hidden; /* مخفی کردن محتوای اضافی */
  position: relative;
  height: 50px; /* ارتفاع بخش */
  background-color: lightblue; /* رنگ پس‌زمینه */
  margin-top: 0;
}

.news-content {
  display: inline-block;
  animation: ticker 10s linear infinite; /* انیمیشن */
  background-color: black;
}

@keyframes ticker {
  0% {
    transform: translateX(100%); /* شروع از راست */
  }
  100% {
    transform: translateX(-100%); /* پایان در چپ */
  }
}
