.custom-image {
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; position: relative;
  z-index: 5;
}

.custom-image:hover {
  transform: scale(1.05);
}
.custom-button {
  font-size: medium;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}
.custom-button:hover {
  transform: scale(1.05);
  color: #c213e5;
}
.custom-container {
  margin-top: 55px;
}
.custom-container{
  transition: transform 0.3s; position: relative;
  z-index: 5; 

}