.container-start {
  width: 1690px;
  height: 340px;
  justify-content:start;
  top: 10px;
  left: 0;
  right: 0; 
  background-color: rgb(255, 255, 255);
}
.my-image {
  width: 450px; 
  height: auto;
}
.sticky-div {
  display: flex;
  justify-content:start;
  margin-top: 85px;
}
.ArchiveTopBannerWrp {
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align:right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    opacity: 0.7;
    font-weight: 300;
}
.text {
 
    padding: 15px;
    background: #f4f4f4;
  }