@font-face {
  font-family: "Vazir";
  src: url("/public/Vazir-Medium.woff") format(".woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Vazir", sans-serif !important;
}
body {
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

