body {
  font-family: 'yekan', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

body[data-theme="dark"] {
  background-color: #121212;
  color: #ffffff;
}
